/* Globals, Header & Nav -------------------------------------------------------------------------------------------------------- */

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;    
}

nav{
    /* background-color: rgba(0, 0, 0, 0.701); */
    /* color: white; */
    
}
.navbar-brand {
    /* background-color: rgba(228, 190, 40, 0.804); */
    /* color:rgba(228, 190, 40, 0.804); */

    
}
nav.navbar-dark {
    background-color: rgba(60, 59, 59, 0.276);
    margin-bottom: 0;
    
    
}
.navbar-toggle{
    /* background-color: rgba(228, 190, 40, 0.804); */
    
}
.navbar-nav {
    /* background-color: red; */
    /* padding-left: 50%; */
}
#myCollapsingList{
    /* background-color: rgba(41, 41, 41, 0.098); */
    background-color: rgba(60, 59, 59, 0.276);
    float: right;
}
.icon-bar{    
    background-color: rgb(255, 255, 255);
}

nav  a {
    font-size: large;
    text-decoration: none;    
    color: rgb(255, 255, 255);
}

/* Services -------------------------------------------------------------------------------------------------------- */

/* Services LOGOs -------------------------------------------------------------------------------------------------------- */
/* Services WebSite Overhauls -------------------------------------------------------------------------------------------------------- */
/* Services WebApp Develoment -------------------------------------------------------------------------------------------------------- */
/* Services Full Deployments -------------------------------------------------------------------------------------------------------- */
/* Services Computer Repair -------------------------------------------------------------------------------------------------------- */
