/* Globals, Header & Nav -------------------------------------------------------------------------------------------------------- */

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    /* background-image: url("bg.png");     */
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
}
#display{
    width: 100%;
}

.masthead {
    background-image: url("bg1.png");    
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

nav{
    /* background-color: rgba(0, 0, 0, 0.701); */
    /* color: white; */
    
}
.navbar-brand {
    
}
nav.navbar-dark {
    background-color: rgba(60, 59, 59, 0.276);
    margin-bottom: 0;
    
    
}
.navbar-toggle{
    background-color: rgba(255, 255, 255, 0.219);
    
}
.navbar-nav {
    /* background-color: red; */
    padding-left: 50%;
}
#myCollapsingList{
    background-color: rgba(41, 41, 41, 0.098);
}
.icon-bar{    
    background-color: floralwhite;
}

nav  a {
    font-size: large;
    text-decoration: none;
    /* color: rgba(255, 250, 240, 0.283); */
    color: floralwhite;
}

.heroText {
    color: white;
    text-align: center;
}
#heroBtn {
    /* color: rgba(255, 250, 240, 0.283); */
    background-color: rgba(228, 191, 40, 0.215);
    color: white;
    /* font-size: large; */
    text-align: center;
    
    
}


.sec-about{
    background-color: rgba(255, 235, 205, 0.372);
}

/* Screen Adjusments ------------------------------------------------------------------------------------------------------------ */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

@media (max-width: 575px) {
    nav.navbar-dark {
        /* background-color: rgba(0, 0, 0, 0.119); */
        /* background-color: rgb(0, 0, 0); */
        
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .heroText {
        /* margin-top: 10%; */
        /* margin-bottom: 10%; */
        /* padding-bottom: 25%; */
    }
    .navbar-nav {
        /* background-color: red; */
        padding-left: 20%;
    }
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .heroText {
        /* margin-top: 20%; */
    }
    #heroBtn {
        
        background-color: rgba(228, 191, 40, 0.215);
        color: white;
        font-size: xx-large;
        text-align: center;
        
    }
    .navbar-nav {
        /* background-color: red; */
        padding-left: 20%;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar-nav {
        /* background-color: red; */
        padding-left: 50%;
        
    }
    .heroText {
        margin-top: 40%;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .heroText {
        /* margin-top: 40%; */
        /* margin-bottom: 10%; */
        /* padding-bottom: 25%; */
    }
 }