#popOLay {
    top: -400px;
    display: none;
}

#popupMenue {
    display: none;
    text-align: center;
}

.popupMenue {
    background-image: url("assets/images/xx.jpg");
    background-size: 120%;
    width: auto;
    background-position: top 39% left 25%;
    margin-top: -30px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: right;
    text-shadow: 2px 3px 4px rgba(255, 255, 255, 0.374);
}

.spacer {
    padding-bottom: 22%;
}

.sleekBorder {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: max-content;
    height: 100%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.394);
    border: 2px rgba(255, 255, 255, 0) solid;
    border-color: white;
    border-radius: 1.5em;
    margin-top: -32.5px;
    border-top: none;
}

/* Globals --------------------------------------------------------------------------------------------------- */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    width: 100%;
    height: 100%;
}

iframe {
    margin: 0 auto;
    width: 345px;
    height: 300px;
}

/* Nav ------------------------------------------------------------------------------------------------------- */
.navbar-nav>li>a {
    color: white;
}

.navbar-header {
    padding-left: 1.5%;
}

nav.navbar-dark {
    background-position: bottom;
    text-align: right;
    border: hidden;
}

.icon-bar {
    background-color: rgb(255, 250, 250);
}

.navbar-toggle {
    background-color: #ffffff00;
    padding-top: 10px;
    border: 1px solid white;
    z-index: 1;
}

.navbar-toggle:hover {
    background-color: #7efc009d;
}

#myCollapsingList {
    background-color: rgba(0, 0, 0, 0.215);
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: left bottom;
    float: right;
    text-align: right;
    margin: 0 auto;
    margin-top: -78px;
    height: 100%;
    width: 100%;
}

#myCollapsingList>li>a {
    color: white;
    margin-bottom: 1.5px;
    margin-right: 1.5px;
    padding-bottom: 2.5%;
}

nav a {
    font-size: large;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#navBG {
    background-size: 120%;
    width: auto;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: right;
    border-radius: 0;
    background-position: top 79% left 25%;
}


/* index.html */
/* Header----------------------------------------------------------------------------------------------------- */

#display {
    width: 100%;
    height: 575px;
    background-image: url("assets/images/comp.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.masthead {
    text-shadow: 2px 3px 4px rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.heroText {
    width: max-content;
    color: white;
    text-align: center;
    word-wrap: break-word;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 15px;
}

.heroText>h1 {
    word-break:break-all;
    margin-left: 25px;
    margin-right: 25px;
}

.heroText>p {
    margin-bottom: 9.25%;
    font-size: 1.6em;
}

#heroBtn button>a {
    margin-top: -30px;
    font-size: large;
    text-align: center;
    margin-bottom: 25px;
}

#heroBtn {
    margin-top: -30px;
    font-size: large;
    text-align: center;
    margin-bottom: 25px;
}

.heroText>h5 {
    margin-top: 10%;
}

#btnVm {
    color: white;
    text-decoration: none;
    width: 100%;
}

#btnVm:hover {
    font-size: x-large;
    border-radius: 1.5em;
}


/* All D3 charts rendered in iFrames have styles in there assisoated html file */
/* iFrames & D3 charts Fullstack Section 1 --->	 */
/* index.html Section 1  ------------------------------------------------------------------------------------------ */
.d3_fullstack {
    text-align: center;
    color: white;
    text-shadow: 2px 3px 4px rgba(255, 255, 255, 0.459);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.394);
    border: 2px rgba(255, 255, 255, 0) solid;
    border-color: white;
    border-radius: 1.5em;
    margin-top: 4%;
    border-top: none;
    padding-bottom: 4%;
}

#sec-fullstack {
    width: 100%;
    padding-bottom: 15%;
    background-color: rgba(255, 255, 255, 0.822);
    background-image: url("assets/images/ww.jpg");
    background-size: cover;
    background-clip: padding-box;
    background-position: bottom;

}

/* index.html Section 2 --------------------------------------------------------------------------------- */
#fullBG-marketing {
    background-image: url("assets/images/xx.jpg");
    background-position: center;
    background-size: 56%;
    width: 90%;
    height: 100%;
}

.fs {
    margin: 0 auto;
}

#fullBG-right {
    background-image: url("assets/images/a.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 90%;
    margin-bottom: 2.8%;
    margin-left: 5%;
    margin-top: 5%;

}

#fullBG-left {
    background-image: url("assets/images/a.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 90%;
    margin-bottom: 2.8%;
    margin-left: 5%;
    margin-top: 25px;
}

.fs {
    margin: 0 auto;
}

/* image Text Overlays ------------*/
.text-right {
    margin-top: 7%;
    width: 80%;
    border-radius: 1.5em;
}

.links {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 175px;
    height: 100%;
    padding: 1%;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.118);
    border: 2px rgba(255, 255, 255, 0) solid;
    border-color: rgba(255, 255, 255, 0.219);
    border-radius: 1.5em;
    margin-top: -27.5px;
    border-top: none;
    word-wrap: break-word;
    text-align: center;
}

.links p>a {
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.466), rgb(49, 5, 47));
    padding: 8%;
    color: lawngreen;
    border-radius: 1.5em;
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-top: none;
}

.links p a:hover {
    padding: 8%;
    font-size: medium;
    border: 1px solid rgba(30, 253, 0, 0.486);
}

.text-right {
    width: 100%;
}

.text-left~p,
h4 {
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(49, 5, 47));
    padding: 2%;
    color: lawngreen;
}

small,
strong~small {
    color: rgb(255, 255, 255);
}

small,
strong {
    color: rgb(255, 255, 255);
    padding: .3%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.466), rgb(49, 5, 47));
}




/* Contact Form -------------------------------------------------------------------------------------------- */
select {
    margin-bottom: 10%;
    color: black;
}

#register-form {
    background-image: url("assets/images/aaa.png");
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 10%;
    padding-bottom: 10%;
    background-size: 18%;
    background-origin: content-box;
    background-repeat: no-repeat;
    margin-top: 5%;
    padding: 1%;
    border-radius: 2.5em;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#popIn {
    display: none;
    background-image: url("assets/images/aaa.png");
    width: 100%;
    background-size: 30%;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding-top: 1.7%;
    border-radius: 2.5em;
}

.contact-form_text {
    color: white;
    text-align: center;
    font-size: 1em;
    text-shadow: 2px 3px 3px rgb(0, 0, 0);
}

.input-group {
    margin: 0 auto;

}

.form {
    padding-bottom: 4%;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control {
    background-color: rgba(255, 255, 255, 0.226);
    opacity: 80%;
}

.form {
    width: 70%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1.5rem;
    overflow: hidden;
}

.center-form {
    margin: 0 auto;
}

#fullname::placeholder {
    color: rgb(0, 0, 0);
}

#emailaddress::placeholder {
    color: rgb(0, 0, 0);
}

#projectsummary::placeholder {
    color: black;
}

textarea {
    color: black;    
}

textarea.form-control {
    color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.199);
}

input.form-control {
    color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.199);
}

.form-content {
    width: 95%;
    margin: 0 auto;
    padding: 2.5%;
    border: 1px solid rgba(0, 0, 0, 0.612);
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.155);
    border-bottom: none;
    border-top: none;
}

.contact-form_text {
    color: rgb(255, 255, 255);
}

h3 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.527);
}

p {
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.527);
}

h5 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.527);
}

.form-control {
    border-radius: 1.5rem;
    border-color: rgb(255, 255, 255);

}

.btnSubmit {
    margin-left: 40%;
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    color: #fff;
}

#sbtbtn {
    background-color: rgba(255, 255, 255, 0.326);
    font-size: large;
    text-align: center;
    border-radius: 1.5em;
    margin-bottom: 1%;
    border-color: black;
}

#sbtbtn:hover {
    border-color: white;
}

.note {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 80px;
    background: rgba(255, 255, 255, 0.226);
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.397);
}

.note>p {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-shadow: 2px 3px 3px rgb(0, 0, 0);
}

.overlay {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.493);
    border: 2px rgba(255, 255, 255, 0) solid;
    border-color: rgba(255, 255, 255, 0.486);
    border-radius: 1.5em;
    margin-top: -7px;
    padding-top: -50px; /* negative values are allowed */
    border-top: none;
    text-align: left;
    color: white;
    overflow: hidden;
}

#projectsummary , #fullname , #emailaddress{
    background-color: rgba(255, 255, 255, 0.178);
}


.overlay h1 {
    text-shadow: 2px 3px 4px rgba(255, 255, 255, 0.74);
}

.popupMenue {
    background-image: url("assets/images/xx.jpg");
    background-position: top 39% left 25%;
    background-size: 120%;
    width: auto;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: right;
    text-shadow: 2px 3px 4px rgba(255, 255, 255, 0.374);
}

.serviceNav li {

    background-color: rgba(0, 0, 0, 0.394);
    border: 2px rgba(255, 255, 255, 0) solid;
    border-color: rgba(255, 255, 255, 0.278);
    border-radius: 1.5em;
    text-align: right;
    border-top: none;
    padding: 2.55%;
    margin: 2%;
    overflow: hidden;
    text-decoration: none;
}

.serviceNav li a {
    color: white;
}

.serviceNav li a:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.194);
    padding: 3.5%;
    border-radius: 1.5em;
    width: 100%;
    padding-right: 30%;
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
}



/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
@media (max-width: 371px) {

    #d3_fullstack,
    iframe {
        display: none;
    }
}

@media (max-width: 575px) {

    #fullBG-right,
    #fullBG-left {
        margin: 0;
        width: 100%;
        margin-top: 5%;
    }

    #masthead {
        margin-top: 20%;
    }

    #fs {
        width: 100%;
    }

    #fullBG-marketing {
        width: 100%;
    }

    .navbar-brand:hover {
        background-color: #ffffff36;
        color: rgb(255, 255, 255);
        border-radius: 1.5em;
        padding-top: 10px;
        border: 1px solid white;

    }

    .navbar-brand {
        line-height: -25px; /* negative values are allowed */
        font-size: 32px;
        color: rgb(255, 255, 255);
    }

    .navbar-nav>li>a:hover {
        background-color: #71b26cd9;
        color: #3a3182;
        font-size: 32px;
        border-radius: 3.5em;
        margin-left: 14%;
    }



   
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    #masthead {
        margin-top: 15%;
    }

    .navbar-brand:hover {
        background-color: #ffffff36;
        color: rgb(255, 255, 255);
        border-radius: 1.5em;
        padding-top: 10px;
        border: 1px solid white;
    }

    .navbar-brand {
        line-height: 25px;
        font-size: 32px;
    }

    .navbar-nav>li>a:hover {
        background-color: #71b26cd9;
        color: #3a3182;
        font-size: 32px;
        border-radius: 3.5em;
    }


    .text-right {
        width: 97.5%;
        margin-top: 2%;
    }

    .links {
        margin-top: 7.5px;
    }


}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #masthead {
        margin-top: 10%;
    }

    #register-form {
        width: 70%;
    }

    .mobileSplashMenue {
        display: none;
    }

    .mobileSplash-BottomMenue {
        display: none;
    }

    #myCollapsingList {
        margin-right: 2.5%;
        margin-top: -78px;
        width: max-content;
        background-image: none;
        background-color: black;
        background-position: center;
    }

    .navbar-nav>li>a:hover {
        background-color: rgba(255, 255, 255, 0);
        color: #3a3182;
        font-size: 32px;
    }

    .navbar-brand {
        line-height: 25px;
        font-size: 32px;
    }

    .navbar-brand:hover {
        background-color: rgba(255, 255, 255, 0);
        color: #3a3182;
        font-size: 32px;
        padding-top: 10px;
    }

    #fullBG-marketing {
        width: 100%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #masthead {
        margin-top: 5%;
    }

    #register-form {
        width: 60%;
    }

    .mobileSplashMenue {
        display: none;
    }

    .mobileSplash-BottomMenue {
        display: none;
    }

    #myCollapsingList {
        margin-top: -78px;
        width: max-content;
        background-image: none;
        background-color: black;
        background-position: center;
    }

    .navbar-nav>li>a:hover {
        background-color: rgba(255, 255, 255, 0);
        color: #3a3182;
        font-size: 32px;
    }

    .navbar-brand {
        line-height: 25px;
        font-size: 32px;
    }

    .navbar-brand:hover {
        background-color: rgba(255, 255, 255, 0);
        color: #3a3182;
        font-size: 32px;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #masthead {
        margin-top: 5%;
    }

    #fullBG-marketing {
        width: 100%;
        height: 900px;
    }

    #myCollapseingList {
        float: right;
    }

    .navbar-nav .navbar-collapse {
        float: right;
        display: none;
    }

    .mobileSplashMenue {
        display: none;
    }

    .mobileSplash-BottomMenue {
        display: none;
    }

    .navbar-nav>li>a:hover {
        background-color: rgba(255, 255, 255, 0);
        color: #3a3182;
        font-size: 32px;
    }

    .navbar-brand {
        line-height: 25px;
        font-size: 32px;
    }

    .navbar-brand:hover {
        background-color: rgba(255, 255, 255, 0);
        color: #3a3182;
        font-size: 32px;
    }
}