html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    display: block;
    background-image: url("assets/images/z.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
    color: white;
    background-position: center;
    width: 100%;
    height: 100%;
}

.container {
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    width: 100%;
    height: 30%;
}

.nav {
    text-shadow: 10px 10px 20px black;
}

.navbar a {
    font-size: large;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.overlay {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: max-content;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.394);
    border: 2px rgba(255, 255, 255, 0) solid;
    border-color: white;
    border-radius: 1.5em;
    margin-left: 3%;
    border-top: none;
}

a {
    color: white;
}

.serviceNav {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.168);
    text-decoration: none;
    text-decoration-line: none;
    border-radius: 1em;
    text-align: center;
    width: max-content;
    padding: 5px;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: none;
}

.serviceInfo {
    color: rgb(255, 255, 255);
    width: min-content;
    background-position: center;
    margin-top: 2%;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

#serviceInfo {
    height: 100%;
}

#serviceImg {
    height: 270px;
    width: 320px;
}

#serviceAplus {
    margin-top: 2%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.394);
    height: max-content;
    border: solid;
    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: none;
    border-bottom: none;
    margin-bottom: 100%;
}

#serviceImg {
    padding: 5%;
    border-radius: 15%;
}

#Infotext {
    background-color: rgba(151, 20, 20, 0.432);
    padding-top: 1px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    border-top: 1px solid white;
}

#req {
    padding: 2.5%;
    background-color: rgba(0, 0, 0, 0.414);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.5em;
    border: 1px solid white;
    border-top: 1px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#req:hover {
    background-color: rgba(255, 255, 255, 0.214);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.5em;
    border: 1px solid white;
    border-bottom: none;
    border-top: none;    
    display: block;
    width: max-content;
    text-align: center;
    margin: 0 auto;
    color: black;
}

.navbar-nav {
    background-color: rgba(0, 0, 0, 0);
}

#navBG {    
    background-position: top 79% left 25%;
    background-size: 120%;
    width: auto;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: right;
}

#myCollapsingList>li>a {
    color: white;
    margin-bottom: 1.5px;
    padding-bottom: 2.5%;
}

#myCollapsingList {
    background-size: 120%;
    background-position: top 79% left 25%;
    float: right;
    margin-top: 1%;
    padding-right: 0; 
    padding-left: 0;
    border-radius: 1.5em;
    margin-right: 2.5%;
}

.navbar-toggle {
    background-color: #ffffff00;
    border: 1px solid white;
}

.navbar-toggle:hover {
    background-color: #ffffff9f;
}

.navbar-brand {
    color: rgb(255, 255, 255);
    line-height: 25px;
    font-size: 32px;
    padding-bottom: 10px;
}

.navbar-brand:hover {
    background-color: #ffffff36;
    color: rgb(255, 255, 255);
    border-radius: 1.5em;
    padding-top: 10px;
    border: 1px solid white;
    font-size: 32px;
}

.navbar-nav {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.icon-bar {
    background-color: rgb(255, 255, 255);    
}

.navbar-dark {
    background: rgba(255, 255, 255, 0);
}

.navbar-nav>li>a:hover {
    color: #3a318285;
    background-color: rgba(255, 255, 255, 0.182);
    font-size: 32px;
    padding-right: 10%;
    border-radius: 1.5em;
}

.form {
    width: 90%;
}

.navbar-nav {
    background-color: rgba(0, 0, 0, 0);
    text-align: right;
}

#brand {
    font-size: 32px;
    margin-left: 1.5%;
    width: max-content;
}

@media (min-width: 768px) {

    #myCollapsingList {
        background-color: rgba(255, 255, 255, 0);
        margin-top: 4px;
        width: max-content;
        display: visible;
    }

    .navbar-nav>li>a:hover {
        background-color: rgba(255, 255, 255, 0);
    }


}